* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/bg.avif);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
}

nav {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    cursor: pointer;
}

nav ul {
    flex: 1;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: goldenrod;
    text-decoration: none;
    font-size: 18px;
    /* change font size */
    font-weight: bold;
    /* make text bold */
}

nav ul li a:hover {
    color: white;
    /* changes color on hover */
}

nav .btn {
    color: goldenrod;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 18px;
    /* change font size */
    font-weight: bold;
    /* make text bold */
    transition: 0.3s;
}

nav .btn:hover {
    color: white;
    /* text color on hover */
    background-color: transparent;
    /* background on hover */
}
.content {
    margin-top: 12%;
}
.content h1 {
    font-size: 88px;
    margin-bottom: 15px;
}
.content h1 span {
    color: #ff960b;
}
.content p {
    line-height: 22px;
    font-size: 14px;
}
.content .btn {
    display: inline-block;
    margin-top: 30px;
    background: #ff960b;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}
.coin-list {
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;
}
.coin {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 15px;
    color: #ff960b;
    border: 1px solid white;
    padding: 20px 30px;
    border-radius: 8px;
}
.coin img {
    width: 40px;
    margin-right: 10px;
}
.coin h3 {
    color: white;
    margin-bottom: 5px;
}

.notice {
    background: #ffcc00;
    color: #000;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
  }

  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

footer p {
    color: white;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}